.prueba {
    --background: var(--ion-color-light);
    --border-radius: 25px;
}

.divButtons {
    padding: 20px;
    text-align: center;
}

.divButtonBorrar {
    padding: 20px;
    text-align: center;
}

.form-producto {
    width: 100%;
    height: 100%;
}

.nombre-producto {
    width: 100%;
    height: 10%;
}