<div class="fondo">
    <div class="chat" id="chatt">
        <ion-grid>
            <ion-row *ngFor="let mensage of chat">
                <ion-col size="9" *ngIf="mensage.idUser !== usuario" class="mensaje otro-mensaje ion-text-left">
                    <b>{{_user.getNombre( mensage.idUser ).nombre}}</b><br>
                    <span>{{mensage.msg}}</span>
                    <div class="ion-text-right time"><br> {{mensage.date | date:'short'}}
                    </div>
                </ion-col>
                <ion-col offset="3" size="9" *ngIf="mensage.idUser === usuario" class="mensaje mi-mensaje ion-text-left">
                    <b>{{_user.getNombre( mensage.idUser ).nombre}}</b><br>
                    <span>{{mensage.msg}}</span>
                    <div class="ion-text-right time"><br> {{mensage.date | date:'short'}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="footer">
        <ion-toolbar class="footer-toolbar">
            <ion-row class="ion-align-items-center">
                <ion-col size="10">
                    <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="mensaje-input"></textarea>
                </ion-col>
                <ion-col size="2">
                    <ion-button (click)="enviarMsg()" shape="round" color="primary" class="msg-btn" [disabled]="newMsg.length === 0">
                        <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </div>
</div>