<ion-item *ngIf="!infoSala">
    <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>
<ion-item *ngIf="infoSala">
    <ion-avatar slot="start">
        <img src="/assets/group/{{infoSala.img || 'default.png'}}" />
    </ion-avatar>
    {{infoSala.nombre}}
    <ion-buttons slot="end">

        <h5 class="text-primary" *ngIf="!gastos">
            <i class="fas fa-crown mr-3" *ngIf="owner"></i>
            <i class="fas fa-user-shield mr-3" *ngIf="admin"></i>
        </h5>
        <h5 class="text-primary" *ngIf="!gastos">{{infoSala.participantes.length}}
            <i class="fas fa-users"></i>
        </h5>
        <h5 class="text-primary" *ngIf="gastos">Gasto:
            <span class="badge badge-info badge-pill">{{part|  number : '1.2-2'}} €</span>
        </h5>
        <!-- <ion-icon slot="icon-only" name="people-outline" color="primary" class="ml-2"></ion-icon> -->
        <!-- <ion-icon slot="icon-only" name="chevron-forward-outline" color="primary" class="ml-2"></ion-icon> -->
    </ion-buttons>
    <!-- <ion-label>
        <ion-row>
            <ion-col size="6">
                {{infoSala.nombre}}
            </ion-col>
            <ion-col size="2" class="ion-text-right">
                <ion-button fill="clear">
                    <i class="fas fa-crown" *ngIf="owner"></i>
                    <i class="fas fa-user-shield" *ngIf="admin"></i>
                </ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-right">

                <ion-button fill="clear">
                    {{infoSala.participantes.length}}
                    <br>
                    <ion-icon name="people-outline"></ion-icon>
                </ion-button>

            </ion-col>
            <ion-col size="2" class="ion-text-right">
                <ion-button fill="clear">
                    <ion-icon slot="icon-only" name="chevron-forward-outline" color="primary"></ion-icon>

                </ion-button>
            </ion-col>
        </ion-row>
    </ion-label> -->
</ion-item>