<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="salir()" color="danger">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Restablecer contraseña</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-slides #slide>

        <ion-slide>
            <ion-grid fixed>
                <div class="max">
                    <form (ngSubmit)="solicitarPass( fpass )" #fpass="ngForm">
                        <ion-row>
                            <ion-col>
                                <img src="/assets/img/logo_wePay.svg">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <p class="text-primary">
                                            Introduzca el email de la cuenta y se enviará un correo para restablecer la contraseña
                                        </p>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked" color="primary">Email</ion-label>
                                        <ion-input #input name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30" [(ngModel)]="email" required email></ion-input>
                                    </ion-item>
                                    <span *ngIf="fpass.submitted && fpass.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>

                                </ion-list>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button type="submit" color="tertiary" shape="round">
                                    Reestablecer contraseña
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </form>
                </div>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>