<app-header [titulo]="infoSala.nombre" [img]="infoSala.img || 'default.png'" sala=true></app-header>
<div class="btn-group btn-group-toggle ff" data-toggle="buttons">
    <button type="button" class="btn btn-outline-primary btn-sm f" [ngClass]="{'active': sIndex === 0}" (click)="irSlide(0)">
        Participantes
        <i class="fas fa-users"></i>
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm f" [ngClass]="{'active': sIndex === 1}" (click)="irSlide(1)">
        Productos
        <i class="fas fa-calculator ml-1"></i>
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm f" [ngClass]="{'active': sIndex === 2}" (click)="irSlide(2)">
        Chat
        <i class="far fa-comments"></i>
    </button>
</div>
<ion-content color="light">
    <!-- <ion-button (click)="salirSala() " shape="round " color="danger ">
        Salir de Sala
    </ion-button> -->


    <ion-slides class="mainSlide" #mainSlide [options]="slideOpts">
        <ion-slide class="ion-padding">
            <div class="cuadrado">
                <div class="max">
                    <ion-item class="prueba p-1">
                        <ion-label position="stacked" color="primary">Descripción de la sala:</ion-label>
                        <ion-textarea name="nDesc" [ngModel]="infoSala.desc || ''" readonly="true"></ion-textarea>
                    </ion-item>
                    <ion-list-header class="ion-text-center">
                        <ion-label>Participantes
                            <span class="badge badge-primary badge-pill">{{infoSala.participantes.length}}</span>
                        </ion-label>
                    </ion-list-header>
                    <div class="lista-participantes">
                        <ion-list>
                            <app-participantes *ngFor="let user of infoSala.participantes" [idUser]="user" [role]="role(user)"></app-participantes>
                        </ion-list>
                    </div>
                    <ion-row>
                        <ion-col size="12" *ngIf="role(myUid) === 0">
                            <ion-button shape="round" color="danger" (click)="presentAlertConfirmAbandonarSala()">
                                Abandonar sala
                            </ion-button>
                        </ion-col>
                        <ion-col size="12" *ngIf="role(myUid) === 2">
                            <ion-button shape="round" color="warning" (click)="presentModalAjustesSala()">
                                Ajustes de sala
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" *ngIf="role(myUid) === 1">
                            <ion-button shape="round" color="danger" (click)="presentAlertConfirmAbandonarSala()">
                                Abandonar sala
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" *ngIf="role(myUid) === 1">
                            <ion-button shape="round" color="warning" (click)="presentModalAjustesSala()">
                                Ajustes de sala
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </div>

            </div>
        </ion-slide>

        <ion-slide class="ion-padding">
            <div class="cuadrado">
                <div class="max">
                    <app-lista-productos [role]="role(myUid)" [idUser]="myUid"></app-lista-productos>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="ion-padding">
            <div class="cuadrado">
                <div class="max">
                    <app-chat></app-chat>
                </div>
            </div>
        </ion-slide>
    </ion-slides>


</ion-content>