.mainSlide,
.mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

.ff {
    width: 100%;
    background-color: white;
}

.f {
    width: 30%;
}

.cuadrado {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.lista-participantes {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.max {
    height: 100%;
    margin: 0px auto;
    max-width: 800px;
}