/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.spinner-class {
    --spinner-color: black;
    color: black;
}

@media only screen and (min-width: 768px) {
    .my-custom-modal-css .modal-wrapper {
        height: 90%;
        width: 60%;
        top: 5%;
        position: absolute;
        display: block;
        border-radius: 20px;
    }
    .my-custom-modal-css-reset-password .modal-wrapper {
        height: 50%;
        width: 60%;
        top: 20%;
        position: absolute;
        display: block;
        border-radius: 20px;
    }
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--ion-color-primary);
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ion-color-primary);
}

::-webkit-scrollbar-thumb:active {
    background: var(--ion-color-primary);
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: var(--ion-color-light);
}

::-webkit-scrollbar-track:active {
    background: var(--ion-color-light);
}

::-webkit-scrollbar-corner {
    background: transparent;
}