.divMain {
    background-color: white;
    border-radius: 25px;
    height: 23%;
}

.divList {
    background-color: white;
    border-radius: 25px;
    height: 40%;
}

.listaSalas {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.prueba {
    --background: var(--ion-color-light);
    --border-radius: 25px;
}

.cuadrado {
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: white;
    border-radius: 25px; */
}

.max {
    max-width: 1000px;
    height: 100%;
    margin: 0px auto;
    background-color: white;
    border-radius: 25px;
}