<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()" color="primary">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title mode="md">Resumen</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">

    <div class="cuadrado">
        <div class="max">

            <div class="mb-1 text-center">
                <strong>Mis salas</strong>
                <span class="badge badge-pill badge-primary">{{Salas.length}}</span>
            </div>
            <ion-list>
                <app-item-sala (sumaGasto)="sumaGasto( $event )" *ngFor="let idSala of Salas" [idSala]="idSala" gastos="true"></app-item-sala>
                <ion-item>
                    <ion-buttons slot="end">
                        <h5 class="text-primary">Gasto total:
                            <span class="badge badge-info badge-pill">{{ gastoTotal |  number : '1.2-2'}} €</span>
                        </h5>
                    </ion-buttons>
                </ion-item>

            </ion-list>
        </div>
    </div>
</ion-content>