<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()" color="primary">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Ajustes</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center">
        <form (ngSubmit)="cambiarNombre(f)" #f="ngForm">
            <ion-item class="prueba p-1">
                <ion-label position="floating" color="primary">Nombre de la sala:</ion-label>
                <ion-input [(ngModel)]="nombreSala" name="nSala" required minlength="4"></ion-input>
                <ion-button type="submit" slot="end" class="fadeIn" *ngIf="nombreSala !== infoSala.nombre">
                    <ion-icon slot="icon-only" name="save-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <span *ngIf="f.submitted && f.controls['nSala'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
        </form>
    </div>
    <ion-item class="prueba p-1">
        <ion-label position="floating" color="primary">Código de unión:</ion-label>
        <ion-input [(ngModel)]="infoSala.code" name="codigo" readonly></ion-input>
        <ion-buttons slot="end">
            <span class="badge badge-success badge-pill" *ngIf="infoSala.open">Abierto</span>
            <span class="badge badge-danger badge-pill" *ngIf="!infoSala.open">Cerrado</span>
            <ion-toggle [(ngModel)]="infoSala.open" (click)="estadoSala()"></ion-toggle>
        </ion-buttons>
    </ion-item>
    <div class="participantes">
        <ion-list-header>
            <ion-label>Participantes</ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let idUser of infoSala.participantes">
                <app-participantes [idUser]="idUser"></app-participantes>
                <ion-buttons slot="end" *ngIf="me(idUser)">

                    <ion-button (click)="addAdmin(idUser)" *ngIf="!role(idUser)" color="success">
                        <i class="fas fa-plus"></i>
                        <i class="fas fa-user-shield"></i>
                    </ion-button>
                    <ion-button (click)="deleteAdmin(idUser)" *ngIf="role(idUser)" color="warning">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-user-shield"></i>
                    </ion-button>
                    <ion-button (click)="deleteUser(idUser)" color="danger">
                        <i class="fas fa-user-times"></i>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>
    </div>



</ion-content>
<ion-footer *ngIf="infoSala.owner === myUid" class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="borrarSala()" expand="block" color="danger" shape="round">
            BORRAR SALA
        </ion-button>
    </ion-toolbar>
</ion-footer>