.prueba {
    --background: var(--ion-color-light);
    --border-radius: 25px;
    align-items: center;
}

.prueba2 {
    --background: var(--ion-color-light);
}

.participantes {
    height: 30%;
    overflow-y: auto;
}

.group-img {
    height: 243;
}